extends layout.pug

block head
    link(rel="stylesheet", href="/cities.css")

block content
    h2.col-md-6.my-2.bg-secondary.rounded.text-white.text-center Are you sure to remove the data?
    table
        thead
            th Code
            th Name
            th Continent
            th Region
            th Population
            th Capital
        tbody
            tr
                td.fit #{country.code}
                td.fit #{country.name}
                td.fit #{country.continent}
                td.fit #{country.region}
                - const population = new Intl.NumberFormat().format(country.population);
                td.fit.number.text-start #{population}
                td.fit #{country.capital}
    .mt-2.row.d-flex.flex-row-reverse
        a.btn.btn-info.col-md-3.mr-2.border(href=`/countries/world`, type="button") Cancel
        a.btn.btn-danger.col-md-3.border(href=`/country/delete/${country.code}`, type="button", value="delete") Delete