extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  h2 Countries
  table
    thead
      th Code
      th Name
      th Continent
      th Region
      th Population
      th Capital
    tbody
      each row, i in rows
        tr
          td.fit #{row.Code}
          td.fit #{row.Name}
          td #{row.Continent}
          td.fit #{row.Region}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}
          td.fit #{row.Capital}